# Python bytecode/cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

./.venv/
./env/

# Folders to ignore
runs/
data/test/
data/train/
data/valid/
pretrained_yolo/

# System/Editor files
.DS_Store
Thumbs.db
.vscode/
*.swp

unused/